<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/ -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/8.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheResultFile="build/phpunit.cache"
         colors="true"
         executionOrder="random"
         verbose="true"
>
    <testsuites>
        <testsuite name="HalfFlake Tests">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-text" target="php://stdout"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
